name: DevCard Update
on:
  schedule: [{cron: "0 0 * * *"}] # Daily at midnight UTC
  workflow_dispatch:

permissions:
  contents: write

jobs:
  devcard:
    name: Update daily.dev stats
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: devcard
        uses: dailydotdev/action-devcard@2.0.2
        with:
          devcard_id: ${{ secrets.DEVCARD_ID }}
