name: GH Space Shooter Update
on:
  schedule: [{cron: "0 1 * * 0"}] # Weekly on Sunday at 1 AM UTC
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-game:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: czl9707/gh-space-shooter@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          output-path: 'src/gif/game.gif'
          strategy: 'random'
